.food_content {
  display: flex;
  width: 280px;
  height: 322px;
  flex-wrap: wrap;
  border-radius: 5px;
  align-content: space-between;
  justify-content: center;
}

.food_content h1 {
  color: rgb(109, 108, 108);
  text-align: center;
  font-size: 1.2rem;
  font-weight: lighter;
  width: 250px;
}
.food_content img {
  width: 250px;
  height: 250px;
  border-radius: 2px;
}

.link_food {
  list-style: none;
  text-decoration: none;
}

.food_description {
  display: flex;
}
